<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 item">
          <h3>Customer Service</h3>
          <ul>
            <li><a href="#">Live Chat (Chabot)</a></li>
            <li><a href="#">Email Service</a></li>
            <li><a href="#">Write a Ticket</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Team</a></li>
            <li><a href="#">Impressum</a></li>
          </ul>
        </div>
        <div class="col-md-3 item text">
          <h3>FAQ</h3>
          <ul>
            <li><a href="#">Why is my computer not turning on</a></li>
          </ul>
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
      </div>
      <p class="copyright">TUHH Campus Shop © 2021</p>
    </div>
  </footer>
</div>
